<div class="container product p-2 border border-rounded">

    <img class="img-fluid product-item mb-1 prod-image" [src]='product.slika' alt="" (click)="onProductClicked()">

    <div *ngIf="kategorija == 2">
        <p class="product-item name">{{product.naziv}}</p>
        <p class="product-item category">{{product.kategorija}}</p>
    </div>

    <div *ngIf="kategorija != 2">
        <p class="product-item name">{{product.naziv +  " - " + product.autor}}</p>
        <p class="product-item category">{{"Knjige - " + product.zanr}}</p>
    </div>

    <p class="product-item maker">{{product.proizvodjac}}</p>
    <p class="product-item price" *ngIf="kategorija != 1">{{product.cena + " RSD"}}</p>
    <p class="product-item price" *ngIf="kategorija == 1">{{product.cena + " RSD mesecno"}}</p>

    <button class="btn btn-sm cart-btn mt-1" *ngIf="kategorija != 1 && !personal && product.kolicina > 0" (click)="onDodajUKorpu()">Dodaj u korpu</button>
    <span class = "span-stanje px-2 py-1" *ngIf="product.kolicina == 0">Trenutno nije na stanju</span>
    <button class="btn btn-sm cart-btn mt-1" *ngIf="kategorija == 1 && !personal && !zahtevana()" (click)="onIznajmiClicked()">Iznajmi knjigu</button>
    <button class="btn btn-sm cart-btn mt-1" *ngIf="kategorija == 1 && !personal && zahtevana()" (click)="onOtkaziClicked()">Otkazi zahtev</button>

    <div class="d-flex w-100">
        <button class="btn btn-sm cart-btn mt-1 me-auto" *ngIf="personal" (click)="onObrisiClicked()">Obrisi proizvod</button>
        <button class="btn btn-sm cart-btn mt-1 ms-auto" *ngIf="personal" (click)="onIzmenaClicked()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg></button>
    </div>
</div>
