.container-class {
    max-height: 25vh;
    min-height: 25vh;
}

img {
    max-height: 24vh;
}

.h-15 {
    height: 25%;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}