<div class="alert alert-success text-center ml-auto mt-50" *ngIf="success">
  {{ success }}
</div>
<div class="alert alert-danger text-center ml-auto mt-50" *ngIf="error">
  {{ error }}
</div>
<div class="d-flex align-items-center main-div flex-row justify-content-center flex-wrap" *ngIf="this.product">
  <div class="p-2 col-12 col-lg-5">
    <div class="slika-conteiner">
      <img
        [src]="product.slika"
        class="slika mx-auto d-block img-fluid img-thumbnail"
      />
    </div>
  </div>
  <div class="d-flex flex-column p-2 col-12 col-lg-5 div-info justify-content-around">
    <h2>{{product.naziv}}</h2>
    <div class="small-info">
      <p>Kategorija : {{product.kategorija}}</p>
      <p *ngIf="product.kategorija=='knjiga' || product.kategorija=='knjiga na izdavanje'">{{product.zanr | uppercase}}</p>
      <p *ngIf="product.kategorija=='knjiga'">ISBN: {{product.isbn}}</p>
      <p *ngIf="product.kategorija=='ranac'">{{product.pol | uppercase}}</p>
      <p *ngIf="product.kategorija=='sveska'">{{product.format}}</p>
    </div>
    <p *ngIf="product.kategorija=='knjiga' || product.kategorija=='knjiga na izdavanje'">Autor: {{product.autor}}</p>
    <p *ngIf="product.kategorija=='knjiga' || product.kategorija=='knjiga na izdavanje'">Izdavač: {{product.proizvodjac}}</p>
    <p *ngIf="(product.kategorija=='knjiga' || product.kategorija=='knjiga na izdavanje') && product.godIzdavanja">Godina izdanja: {{product.godIzdavanja}}.</p>
    <p *ngIf="product.kategorija!='knjiga'">Proizvođač: {{product.proizvodjac}}</p>
    <p *ngIf="(product.kategorija=='knjiga' || product.kategorija=='knjiga na izdavanje') && product.brStrana">Broj strana: {{product.brStrana}}</p>

    <p *ngIf="product.kategorija=='privezak'">Materijal: {{product.materijal}}</p>
    <p *ngIf="product.kategorija=='sveska' && product.brListova">Broj listova: {{product.brListova}}</p>
    <p *ngIf="product.kategorija=='drustvena igra' && product.trajanje">Prosečno trajanje: {{product.trajanje}}</p>
    <p *ngIf="product.kategorija=='drustvena igra' && product.brIgraca">Maksimalan broj igrača: {{product.brIgraca}}</p>
    <p *ngIf="product.kategorija=='drustvena igra'">Za uzrast: {{product.uzrast}} godina</p>
    <p *ngIf="product.kategorija=='slagalica'">Broj delova: {{product.brDelova}}</p>
    <p *ngIf="product.kategorija=='slagalica' && product.dimenzije">Dimenzije: {{product.dimenzije}} cm</p>
    <p>{{product.opis}}</p>
    <p class="stanje" *ngIf="product.kategorija=='knjiga na izdavanje'">Stanje: {{product.stanje}}</p>
    <p class="iznajmljuje" *ngIf="product.kategorija=='knjiga na izdavanje'">Iznajmljuje korisnik {{product.poreklo.ime}} {{product.poreklo.prezime}}</p>
    <p class="cena" *ngIf="product.kategorija!='knjiga na izdavanje'">Cena: {{product.cena}} RSD</p>

    <p class="cena" *ngIf="product.kategorija=='knjiga na izdavanje'">Okvirna cena iznajmljivanja: {{product.cena}} RSD</p>
    <button class="btn btn-outline-primary btn-lg button-product"
    *ngIf="product.kolicina>0 && !personal && product.kategorija!='knjiga na izdavanje'"
    (click)="onAddToCart()">Dodaj u korpu<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart korpa" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg></button>
    <button
    class="btn btn-outline-primary btn-lg button-product"
    *ngIf="product.kategorija=='knjiga na izdavanje' && !zahtevana() && !personal"
    (click)="onSendRequest()">
      Pošalji zahtev za iznajmljivanje
    </button>
    <button
    class="btn btn-outline-primary btn-lg button-product"
    *ngIf="product.kategorija=='knjiga na izdavanje' && zahtevana() && !personal"
    (click)="onCancleRequest()">
      Otkaži zahtev za iznajmljivanje
    </button>
    <p class="nijeDostupan" *ngIf="product.kolicina<1">Proizvod trenutno nije na stanju.</p>
    <div class="d-flex flex-row justify-content-center">
      <button class="btn btn-outline-primary col-5 button-product" *ngIf="personal" (click)="onDeleteClicked()">Obriši proizvod</button>
      <button class="btn col-2" *ngIf="personal" (click)="onUpdateClicked()"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg></button>
    </div>

  </div>


</div>
