<div class="card m-5">
    <div class="card-header p-3">
        <h1>Vaše narudžbine</h1>
    </div>
    <div class="card-body p-3 d-flex flex-column justify-content-between">
        <label class="text-center" *ngIf="orders.length == 0">Nemate narudžbine</label>
        <app-order-single *ngFor="let order of orders; index as ind" [order]="order" (orderDeleted)="deleteOrder($event, ind)" [category]="filter.kategorija"></app-order-single>
        <button class="btn btn-primary" *ngIf="hasMore" (click)="loadMore()">Učitaj još</button>
    </div>
</div>