<div class="card">

    <div class="card-body row">

        <div class="col-2">
            <img src="{{ book.slika }}" class="img-fluid rounded-start" alt="Nije podrzano">
        </div>

        <div [ngClass]="{ 'col-5': lease != null, 'col-10' : lease == null }">

            <div class="card-body overflow-auto">
                <h3 class="card-title">{{ book.naziv }} - {{ book.proizvodjac }}</h3> <br/>
                <label class="card-text">Autor: {{ book.autor }} </label> <br/>
                <label class="card-text">Zanr: {{ book.zanr }} </label> <br/>
                <h5 class="card-text">Cena: {{ book.cena | number : '1.2-2' }} dinara</h5>
            </div>

        </div>

        <div *ngIf="lease != null" class="col-5 row">

            <div class="card-body overflow-auto col-11">

                <h3 class="card-title text-center">{{ lease.korisnikZajmi != null ? 'Zajmi' : 'Pozajmljuje' }}</h3>

                <h4 class="card-text">{{ user.ime }} {{ user.prezime }}</h4>
                <label class="card-text">Adresa: {{ user.adresa }} </label><br/>
                <label class="card-text">Email: {{ user.email }}</label><br/>
                <label class="card-text">Telefon: {{ user.telefon }}</label><br/>
                <label class="card-text">Izdavanje: {{ lease.odDatuma | date : 'dd.MMM.yy.' : 'sr-Latn-RS' }} - {{ lease.doDatuma | date : 'dd.MMM.yy.' : 'sr-Latn-RS' }}</label><br/>

                <h5 class="card-text">Cena: {{ lease.cena | number : '1.2-2' }} dinara</h5>

            </div>

            <div *ngIf="lease.korisnikPozajmljuje == null" class="col-1" [ngSwitch]="lease.potvrdjeno">

                <svg *ngSwitchCase="1" xmlns="http://www.w3.org/2000/svg" data-toggle="tooltip" data-placement="top" title="Potvrđena" width="25" height="25" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>

                <svg *ngSwitchCase="0" xmlns="http://www.w3.org/2000/svg" data-toggle="tooltip" data-placement="top" title="Na čekanju" width="25" height="25" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                  </svg>

                <svg *ngSwitchCase="-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>

            </div>

        </div>

    </div>

    <div *ngIf="lease?.korisnikPozajmljuje != null && lease?.potvrdjeno == 0" class="p-2 d-flex flex-row justify-content-between">

        <button class="btn btn-outline-success mx-2 w-50" (click)="leaseResponse(1)">Odobri</button>

        <button class="btn btn-outline-danger mx-2 w-50" (click)="leaseResponse(-1)">Odbij</button>

    </div>

</div>
