.page-btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #343a40;
}
.page-btn:hover {
    color: black;
}

.pagenum {
    display: inline;
    font-size: 2.3vh;
}

.search {
    width: 98.5%;
}

.labela {
    font-size: 2.5vh;
    font-weight: 450;
}

.btn-form{
    border-color: #61a5c2;
    color:#61a5c2;
}

.btn-form:hover{
    background-color: #468faf;
    color:white;
}